<nav class="navbar navbar-expand-lg fixed-top" id="welcome">

  <a class="navbar-brand" href="/">Ladder</a>

  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100 " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link d-flex ml-3" href="/showQuestions">H</a>
      </li>
      <li class="nav-item">
        <% if (loggedIn) {%>
        <a class="nav-link d-flex ml-3" href="/myProfile/<%=user._id%>"></a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if (loggedIn && status == 'admin') {%>
        <a class="nav-link d-flex ml-3" href="/showProfiles">All Profiles</a>
        <% } %>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex ml-3" href="/FAQ"></a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex ml-3" href="/about">Content Creators</a>
      </li>

    </ul>

  </div>

  <div class="navbar-collapse collapse w-100 order-3" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

     <li class="nav-item">
       <% if (loggedIn) {%>
       <a href="/myProfile/<%=user._id%>"><img class="d-flex mr-1 rounded-circle" id="profilePic" src="<%=user.profilePicURL%>"></a>
       <% } %>
     </li>

     <li class="nav-item">
       <% if (loggedIn) {%>
       <a class="nav-link" href="/myProfile/<%=user.id%>"> <%=user.userName%> </a>
       <% } %>
     </li>

     <li class="nav-item">
       <% if (!loggedIn) {%>
       <a class="nav-link d-flex ml-5" id="btnBorder" href="/login">Login</a>
       <%} else {%>
       <a class="nav-link d-flex ml-5" id="btnBorder" href="/logout">Logout</a>
       <% } %>
     </li>

</nav>
