<%- include('header') -%>
<%- include('navbar') -%>

<div class="jumbotron masthead text-center parallax">

  <h1>All users are here</h1>

</div>

<div class="container">

  <ul class="list-group">
    <% for(i = 0; i < profiles.length; i++){  %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm">
            User: <a href="/showProfile/<%= profiles[i]._id %>"><%= profiles[i].userName %></a>
          </div>
          <div class="col-sm">
            User Email: <%= profiles[i].googleemail %>
          </div>
        </div>
      </li>
      <% } %>
    </ul>

  </div>

  <%- include('footer') -%>
